@{
   Layout = "~/Views/Shared/_LayoutForDriver.cshtml";
}
@model TMS_APP.Models.Trip
<h2>Welcome to Driver Dashboard</h2>
<hr />

@if (Model!=null)
{
    <h2 class="alert-danger mt-3"> <strong>Notice</strong></h2>
    <div class="alert">
        <strong>
            *You have a trip in your queue, please check it and accept it or reject it ASAP*
        </strong>
    </div>
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PickupLocationCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PickupLocationCountry)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryLocationCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryLocationCountry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PickupDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    @*  <th>
                @Html.DisplayNameFor(model => model.DriverName)
                </th>*@
                    <th>Check Trip</th>
                    <th> Note</th>
                </tr>
            </thead>
            <tbody>
                   @* @foreach (var item in Model)
        {
                    if (item.Status == TMS_APP.Constants.TripStatus.PendingAssign)
                    {*@
                        <tr>
                            <td>
                        @Html.DisplayFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CustomerName)
                </td>
                <td>
                        @Html.DisplayFor(model => model.PickupLocationCity)
                </td>
                <td>
                        @Html.DisplayFor(model => model.PickupLocationCountry)
                </td>
                <td>
                        @Html.DisplayFor(model => model.DeliveryLocationCity)
                </td>
                <td>
                        @Html.DisplayFor(model => model.DeliveryLocationCountry)
                </td>
                <td>
                        @Html.DisplayFor(model => model.PickupDate)
                </td>
                <td>
                        @Html.DisplayFor(model => model.DeliveryDate)
                </td>
                <td>
                        @Html.DisplayFor(model => model.Status)
                </td>
                            
              
                            <td>
                                <a asp-action="TripDetail" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Check Detail</a>
                               

                            </td>
                          
                        </tr>
             
            </tbody>
        </table>

        <div class="row">
            <div class="col-2">
                <form asp-action="AcceptTrip" asp-controller="Driver" method="post">
                    <div class="form-group">
                        <input type="hidden" name="tripId" value="@Model.Id" />
                        <input type="submit" value="Accept this Trip" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-3">
               
                    <form asp-action="ReleaseTrip" asp-controller="Driver" method="post">
                        <div class="form-group">
                            <input type="hidden" name="tripId" value="@Model.Id" />
                            <input type="submit" value="Reject this Trip" class="btn btn-primary" />
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
}


<hr />
<div class="container-fluid">

    <div class="row">
        <div class="col-6 col-md-3">
            <a asp-area="Driver" asp-controller="Driver" asp-action="Account" class="btn btn-dark form-control border"> My Profile</a>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Driver" asp-action="MyTrips" class="btn btn-dark form-control border"> View my Trips</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <a asp-controller="Driver" asp-action="Trips" class="btn btn-dark form-control border"> Available Trips</a>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Driver" asp-action="PayAdvise" class="btn btn-dark form-control border"> Pay</a>
        </div>
    </div>
</div>
