@model IEnumerable<TMS_APP.Models.Trip>

@{
    Layout = "~/Views/Shared/_LayoutForDriver.cshtml";
}

<h1>Available Trips</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PickupLocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupLocationCountry)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLocationCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            @*</th>
            playNameFor(model => model.Quantity)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
          
                <td>
                    @Html.DisplayFor(modelItem => item.PickupLocationCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupLocationCountry)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryLocationCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryLocationCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            
                <td>

                    <form asp-action="TripsDetail" asp-controller="Trips" method="post">
                <td>


                    <div class="form-group">
                        <input type="hidden" name="tripId" value="@item.Id" />
                           
                        <span asp-validation-for="@item.Id" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="col-2"><input type="submit" value="ShowDetail" /></div>
                </td>

                </form>

                </td>
            </tr>
        }
    </tbody>
</table>
