@model List<TMS_APP.Models.DTO.UserWithRolesViewModel>

 

@{
    ViewData["Title"] = "ListUsersWithRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

 

<a asp-area="Identity" asp-controller="Account" asp-action="Register" class="btn btn-primary">Register new user</a>

 

 

<h3>All Users</h3>
<br />

 

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

 

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ccc;
    }

 

    th {
        background-color: #f2f2f2;
    }

 

    th, td:first-child {
        border-left: none;
    }

 

    th, td:last-child {
        border-right: none;
    }

 

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

 

    a {
        text-decoration: none;
        color: #007bff;
    }
</style>

 

<table>
<thead>
<tr>
<th>User Name</th>
<th>Email</th>
<th>Roles</th>
<th>Active</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
        @foreach (var user in Model)
        {
<tr>
<td>@user.UserName</td>
<td>@user.Email</td>
<td>@string.Join(", ", user.Roles)</td>
<td>@user.Status</td>
<td>
<a asp-action="Edit" asp-route-id="@user.UserId">Edit</a> |
<a asp-action="Details" asp-route-id="@user.UserId">Details</a> |
                  @*  <a asp-action="Delete" asp-route-id="@user.UserId">Delete</a>*@
</td>
</tr>
        }
</tbody>
</table>