@model IEnumerable<TMS_APP.Models.Trip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.PickupLocationAddress)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.PickupLocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupLocationCountry)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.DeliveryLocationAddress)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLocationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLocationCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ShipmentWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.PickupLocationAddress)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.PickupLocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupLocationCountry)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.DeliveryLocationAddress)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryLocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryLocationCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ShipmentWeight)
            </td> *@
           @*  <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td> *@
           @*  <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td> *@
            <td>
                 <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pencil"></i>Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-eye"></i>Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                </div>
                  
            </td>
        </tr>
}
    </tbody>
</table>
